{% extends "level_five/base.html" %}
{% block content %}
    <h1>Welcome to level five</h1>
    <h2>Here you can create you profile</h2>
    {% if registered %}
        <h3>Thank you for registering</h3>
    {% else %}
        <h3>Fill out the form:</h3>

        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        <input type="submit" value="Register">

        </form>
    {% endif %}

{% endblock %}